body {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 20px 0;
  border-radius: 0;
}

.nav-item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  padding: 0 10px;
}

#logo {
  width: 10%;
  height: auto;
}

.footer {
  /*position: fixed;*/
  width: 100%;
  bottom: 0px;
  background-color: #36648B;
  color: white;
}

.contact-us {
  background-color: #547B9B;
}

.contact-card {
  margin: 10px;
}

.icon {
  padding: 0 10px;
  font-size: 2em;
  color: #C6E0D8;
}

.contact-card a {
  color: #C6E0D8;
}

a:hover {
  color: #8B9956;
  text-decoration: none;
}

.map {
  padding: 0;
}
