body {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 20px 0;
  border-radius: 0;
}

.nav-item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  padding: 0 25px;
}

#logo {
  width: 10%;
  height: auto;
}

.home-card {
  background: linear-gradient(0deg, rgba(248, 248, 255, 0.5), rgba(248, 248, 255, 0.5)), url(images/horse.jpg) no-repeat center center;
  background-size: cover;
  min-height: 70vh;
  box-shadow: 0 4px 12px -6px black;
  border-radius: 0;
}

.footer {
  /*position: fixed;*/
  width: 100%;
  bottom: 0px;
  background-color: #36648B;
  color: white;
}

.contact-us {
  background-color: #547B9B;
}

.contact-card {
  margin: 10px;
}

.session-cal {
  background-color: #36648B !important;
}

.icon {
  padding: 0 10px;
  font-size: 2em;
  color: #C6E0D8;
}

.contact-card a {
  color: #C6E0D8;
}

a:hover {
  color: #8B9956;
  text-decoration: none;
}

.form-control:focus {
  border: solid 2px #36648B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(84, 123, 155);
}

.register-forms {
  list-style: none;
  padding: 0;
}

.btn-primary {
  background-color: #8B9956;
  border: 0 none;
}

.btn-primary:hover {
  background-color: #B9C46E;
}

.map {
  padding: 0;
}

.circle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  margin-top: -20px;
}

.days {
  background-color: #919e5f;
}

.hours {
  background-color: #a8b27f;
}

.minutes {
  background-color: #c5cba9;
}

.seconds {
  background-color: #d8dcc5;
}

.countdown {
  justify-content: center;
}

@media only screen and (max-width: 600px){
  .circle {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 1em;
  }
}
